<h1><%= @user.name %></h1>
<%= @user.email %>

<% if @registrations.present? %>
  <h1>Registrations</h1>
  <% @registrations.each do |r| %>
    <div class="well">
      <div class="image">
        <%= image_tag r.event.image_file_name %>
      </div>
      <%= link_to r.event.name, r.event %>
      <div class="pull-right">
        <%= event_date(r.event.event_date) %>
      </div>
    </div>
  <% end %>
<% end %>


<% if @events.present? %>
  <h1>Liked Events</h1>
  <% @events.each do |event| %>
    <div class="well user_like">
      <div class="image">
        <%= image_tag event.image_file_name %>
      </div>
      <%= link_to event.name, event %>
    </div>
  <% end %>
<% end %>

<br><br>
<% if is_currect_user?(@user) %>
  <%= link_to "Edit Account", edit_user_path(@user), class: 'btn btn-primary btn-sm' %>

  <%= link_to "Delete Account", user_path(@user), method: :delete, class: 'btn btn-danger btn-sm' %>
<% end %>