<% @events.each do |event| %>
  <div class="well">
    <div class="event_name"><%= event.name %></div>
    <div class="pull-right"><%= event_price(event.price) %></div>
    <%= event_date(event.event_date) %> at <%= event.place %><br>
    <p><%= truncate(event.description, length: 30) %></p>
  </div>
<% end %>
