<div class="event_image">
  <%= image_tag @event.image_file_name %>
</div>
<div class="event_name"><%= @event.name %></div>
&nbsp;&nbsp;&nbsp;<div class="pull-right"><%= event_price(@event.price) %></div>
<%= event_date(@event.event_date) %> at <%= @event.place %><br><br>
<span>Available : <%= pluralize(@event.spot, 'Spot') %></span>
<p class="description"><%= @event.description %></p>


<div class="liked_events">
  <% if @users.present? %>
    <h1>Likers</h1>
    <ul>
      <% @users.each do |user| %>
        <li><%= link_to user.name, user %> </li>
      <% end %>
    </ul>
  <% end %>
</div>

<%= link_to 'Edit', edit_event_path(@event), class: 'btn btn-default' %>
<%= link_to 'Delete', event_path(@event), method: :delete, class: 'btn btn-danger' %>
<%= link_to "Who's Registered", event_registrations_path(@event), class: 'btn btn-default' %>
<%= regiter_or_soldout(@event) %>


