<div class="event_name"><%= @event.name %></div>
&nbsp;&nbsp;&nbsp;<div class="pull-right"><%= event_price(@event.price) %></div>
<%= event_date(@event.event_date) %> at <%= @event.place %><br><br>
<p class="description"><%= @event.description %></p>

<%= link_to 'Edit', edit_event_path(@event), class: 'btn btn-default' %>